@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  --black: #110D1D;
  --red: #C23660;
  --cyan: #1CD1DA;
  --blue: #24446E;
  --grey: #29619E;

  font-family: 'Montserrat', sans-serif;
}

body {
  overflow: hidden;
  background-color: #0B0B17;
}
section {
  position: sticky;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: linear-gradient(to bottom, #f1f4f9, #dff1ff); */
}

a {
  text-decoration: none;
  color: white;
}

section .color {
  position: absolute;
  filter: blur(100px);
}
section .color:nth-child(1) {
  left: 35px;
  width: 200px;
  height: 600px;
  background: var(--red);
}
section .color:nth-child(2) {
  top: 100px;
  right: 100px;
  width: 200px;
  height: 100px;
  background: var(--blue);
}

header {
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 5em;
  color: white;
}

.overview {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(18px);
  border-radius: 10px;

  position: relative;
}

.overview .top-section {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 5em;
}

.overview .top-section h1 {
  font-weight: 900;
  font-size: 3em;
  margin-bottom: 0.8em;
  line-height: 1em;
}

.overview .top-section p {
  font-size: 1em;
  margin-bottom: 1em;

}

.overview .top-section button {
  cursor: pointer;
  text-transform: uppercase;
  padding: 1em 3em;
  font-size: 1em;
  background: transparent;
  border: 1px solid white;
  color: white;
  display: block;
  margin-bottom: 1em;
  transition: all 100ms;
}

.overview .top-section button:hover {
  background-color: white;
  color: black;
  transition: all 100ms;
}

.overview .bottom-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
  padding: 0 4em;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.overview .bottom-section div {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overview .bottom-section div p {
  width: 70%;
}

.sidebar {
  width: 100%;

  position: relative;
}

.sidebar h1 {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2em;
}

.sidebar ul {
  list-style: none;
  text-transform: uppercase;
  text-align: right;
  font-size: 1.5em;

  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  gap: 2em;
}

.sidebar ul li {
  display: flex;
  justify-content: end;
  place-items: center;
  width: 300px;
}

.sidebar ul li span {
  margin-left: 1em;
  height: 1px;
  width: 50px;
  border-top: 1px solid white;
}

.header-image {
  width: 25%;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

.logo-content .logo i {
  font-size: 28px;
  margin-right: 5px;
}
.logo-content .logo h3 {
  font-size: 20px;
}

